@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1 style="color: red;">version:v1.0</h1>

<h5>rollback test</h5>

<h3> 分发测试-again </h3>

<h1 style="color: blue;">config test:@Configuration["Test"]</h1>

<h1>config DisplayUrl:@Context.Request.GetDisplayUrl()</h1>

<h1>config Host:@Context.Request.Headers["Host"]</h1>

<h1>RemoteIpAddress: @Context.Connection.RemoteIpAddress</h1>
<h1>RemotePort: @Context.Connection.RemotePort</h1>
<h1>LocalIpAddress: @Context.Connection.LocalIpAddress</h1>
<h1>LocalPort: @Context.Connection.LocalPort</h1>

<img style="width:100px; margin-left:10px; cursor:pointer;" id="imgVerifyCode" />

@section Scripts{
    <script>
        $(function () {

            $("#imgVerifyCode").click(function() {
                $("#imgVerifyCode").attr('src', '@Url.Action("GetValidateCode")?' + Math.random());

            });

            $("#imgVerifyCode").attr('src', '@Url.Action("GetValidateCode")?' + Math.random());
        })
    </script>
}



